[submodule "wk5_hw_ruby_pda"]
	path = wk5_hw_ruby_pda
	url = https://github.com/shwaldemar/wk5_hw_ruby_pda
[submodule "vue_sgfilms"]
	path = vue_sgfilms
	url = https://github.com/shwaldemar/vue_sgfilms
[submodule "js-calculator-tests"]
	path = js-calculator-tests
	url = https://github.com/shwaldemar/js-calculator-tests
