[submodule "wk5_hw_ruby_pda"]
	path = wk5_hw_ruby_pda
	url = https://github.com/shwaldemar/wk5_hw_ruby_pda
[submodule "vue_sgfilms"]
	path = vue_sgfilms
	url = https://github.com/shwaldemar/vue_sgfilms
